@page "{id:int}"
@model UWS.Shared.EditAlbumModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Album";
}

<div class="container">
    <h3>Edit Album</h3>
    <hr />
    <br />
    <form method="POST">
        <input asp-for="Album.AlbumID" type="hidden"/>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Album.Title" class="control-label">Enter new Artist name</label>
                <input asp-for="Album.Title" class="form-control" />
            </div>
        </div>
        <br />
        
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Album.ArtistID" class="control-label">Select Artist Name</label>
                 <select asp-for="Album.ArtistID" class="form-control"
                         asp-items="@Model.ArtistNameSL">
                    <option value="">-- Select Artist --</option> 
            </select>
            </div>     
            <span asp-validation-for="Album.ArtistID" class="text-danger"></span>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="../albums">Cancel</a>
    </form>
</div>